@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
  font-family: 'Roboto Slab', serif;
  /* background-color: #e9f5ff; */
}

/* div {
  padding: 5px;
} */

#centerProfile {
  height: 500px;
  display: flex;
  justify-content: center;
}

#profilePhoto {
  border-radius: 50%;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}

.about-me{
  margin-top: 20px;
  /* margin-left: 60px; */
}

.intro {
  font-size: 20px;
  width: 90%;
  overflow: hidden;
}

.navbar {
  background-color: #0C2340;
}

.container-fluid-nav{
  background-color: #0C2340;
}

.navbar-home-text{
  color: #FFFEFC;
  text-align: center;
  font-size: large;
  margin: 0px;
}

.nav-link {
  color: #FFFEFC;
}

.navbar-brand {
  padding: 10px;
  color: #FFFEFC;
}

.sharebanb {
  flex-shrink: 0;
  max-width: 100%;
  max-height: 100%;
  /* border: 5px solid #0C2340; */
  /* width: 500px;
  height: 280px; */
}

.jobly {
  flex-shrink: 0;
  max-width: 100%;
  /* max-height: 100%; */
  /* border: 5px solid #0C2340; */
  /* width: 500px;
  height: 270px; */
}

/* this was the main issue figure out why */
/* .project-links {
  display: inline-flex;
  justify-content: center;
  /* align-items: center; */
  /* overflow: hidden; */
  /* width: 100%;
  float: left;
} */

.card-project {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  /* width: 48%;
  height: 100%; */
  /* margin-left: 50px;
  margin-right: 50px; */
  /* margin: 30px; */
}

.card-project:hover {
  top: -10px;
}

.card-project>img {
  /* height: 300px; */
  width: 100%;
  object-fit: cover;
}

.card-project h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-project p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-project .card-project-info {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.social-images {
  display: inline-flex;
}

.social-links {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.social-links:hover {
  top: -5px;
}

